.navbar {
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    color: #007bff;
}
  
.navbar-brand:hover {
    color: #0056b3;
}

.nav-link {
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    color: #007bff;
}
  
.nav-link:hover {
    color: #37516d;
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.nav-link.active {
    border: 2px solid #060404;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}
  
.navbar-toggler {
    border: none;
}
  
.logo {
    height: 40px;
    margin-left: 15px;
    transition: transform 0.3s ease;
}
  
.logo:hover {
    transform: scale(1.1);
}

.footer-section {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: 50px;
    height: 40px;
}

.footer-section p {
    color: white;
}

.footer-section a {
    color: #007bff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}